html{
	--border-radius-size: 5px;
}

ol{ /*https://stackoverflow.com/a/21909808/*/
	counter-reset: section;
	list-style-type: none;
}

li a, li:before, .borderArrow{
	padding: 0.5em;
	border: 2px solid black;
}
li:before{ /*https://stackoverflow.com/a/21909808/*/
	counter-increment: section;
	content: counters(section, ".") ", ";
	border-radius: var(--border-radius-size) 0 0 var(--border-radius-size);
	margin-right: -2px;
	padding-right: 0.2em;
}
li{
	margin: 1em 0;
}
li > a, .borderArrow{
	border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
}
li:has(.borderArrow) > a{
	border-radius: 0;
	margin-right: -2px;
}

.jumbotron h1{
	text-align: center;
	font-size: 3em;
}

.borderArrow{
	border: 2px solid black;
	padding: 0.5em;
	user-select: none;
	cursor: pointer;
}

.arrow{ /*https://codepen.io/DU7S/pen/AwRrKO*/
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: relative;
}
.arrow.down{
	border-top: 10px solid #333;
	top: 1em;
}
.arrow.up{
	border-bottom: 10px solid #333;
	top: -1em;
}